* {
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
*:focus {
	outline: 0 !important;
}

nav {
	align-items: center;
	background-color: #fffffc;
	color: #e8b5a8;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 80px;
	padding: 12px 20px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 18pt;
	font-weight: bold;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

nav a {
	color: rgb(43, 41, 41);
}

nav li {
	padding: 12px 12px;
}

nav li:hover {
	background-color: #caffbf;
}

body {
	background-color: #ffadad;
	height: 100vh;
	padding: 0;
	margin: 0;
	width: 100vw;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	align-items: center;
}

.video-container {
	position: relative;
	width: 550px;
	height: 550px;
}

video {
	border-radius: 8px;
}

.homepage-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 400px;
	max-width: 600px;
	margin: 8px;
	padding: 12px 12px;
	border-radius: 8px;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
}

button {
	border-radius: 50%;
	border: none;
	font-size: 12px;
	background-color: #fdffb6;
	height: 60px;
	width: 60px;
	margin: 8px;
	padding: 12px 12px;
	box-shadow: 0 4px 4px;
}

button:hover {
	background-color: #caffbf;
}

button:active {
	background-color: #caffbf;
	outline: none;
	box-shadow: 0 1px 1px;
}

#console {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	border: none;
	font-size: 30px;
	text-shadow: 0 1px 1px #7cc4ca;
	background-color: #9bf6ff;
	height: 150px;
	width: 150px;
	margin: 8px;
	padding: 12px 12px;
}

h1 {
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	font-size: 60px;
}

h2 {
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	background-color: #fffffc;
	margin: 8px;
	padding: 12px 12px;
	border-radius: 8px;
}

.login-footer {
	text-align: center;
	padding: 12px 12px;
}

.form-button {
	background-color: #a0c4ff;
	border-radius: 8px;
	color: white;
	font-size: large;
	font-weight: 700;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.form-button:hover {
	background-color: #bed6fc;
}

.form-button a {
	color: white;
}

input {
	width: 95%;
	padding: 12px 20px;
	margin: 8px 8px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0 1px 0;
}
